.containerbarang{
    display: flex;
    flex-direction: column;
}
.judul{
    padding-left: 30px;
    padding-top: 30px;
}

.search{
    display: flex;
    justify-content: flex-end;
}

.search1{
    /*display: flex;
    flex: auto;
    align-self: flex-end;*/
    width: 300px;
    border-radius: 20px;
    background-color: wheat;
}

.laporanbarang{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.input{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.inputBarang{
    display: block;
    background-color: #00517e;
    padding: 15px;
    border-radius: 5px;
}

.inputHarga{
    display: block;
    background-color: #00517e;
    padding-left: 5px;
    padding: 15px;
    border-radius: 5px;
}